.gem-dis {
  color: white;
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: black;
}

.num-dis {
  height: 100px;
  width: 100px;
  background-color: black;
}

.label {
  font-size: 2rem;
}